[Unit]
Description=Portal web-backend run server.js
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/web-backend

Environment=FRONT_END_URL={{ portal_server_url }}
Environment=DELA_NODE_URL={{ conode_server_url }}:2000
Environment=SESSION_SECRET="nimporte quasession secret"
Environment=PUBLIC_KEY={{ _secrets['PUBLIC_KEY'] }}
Environment=PRIVATE_KEY={{ _secrets['PRIVATE_KEY'] }}
Environment=DB_PATH={{ db_dir }}

Environment=NODE_ENV=production
Environment=PORT=6000
Environment=NODE_PATH=web-backend/node_modules
ExecStart=/home/ubuntu/node-{{ NODE_VERSION }}-linux-x64/bin/node Server.js
User=ubuntu
Group=ubuntu
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
