[Unit]
Description=Portal web-backend run server.js
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/web-backend-{{ DELA_VERSION }}
Environment=NODE_ENV=production
Environment=PORT=6000
Environment=NODE_PATH=web-backend-{{ DELA_VERSION }}/node_modules
ExecStart=/home/ubuntu/node-{{ NODE_VERSION }}-linux-x64/bin/node Server.js
User=ubuntu
Group=ubuntu
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
